.container1 {
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem; 
    position: relative;
    overflow: hidden;
}

.container1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../../public/assets/home-paghe-bg.jpg') no-repeat center center;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.container1 a {
    text-decoration: none;
    color: white;
    z-index: 1;
}

.container1 a button {
    width: 11.25rem; 
    height: 5rem;
    font-size: 1.25rem; 
    background-color: rgb(0, 255, 0);
    box-shadow: 0.0625rem 0.0625rem 0.75rem rgba(144, 255, 144, 0.7); 
    border: 0.0625rem solid rgba(92, 255, 92, 0.7); 
    z-index: 1;
}

.container2 {
    padding: 0;
    margin: 0;
    outline: none;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    margin-top: 6.25rem; 
}

.container2 form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; 
}

.container2 form button {
    width: 6.25rem; 
    height: 3.125rem; 
    font-size: 1.25rem; 
    background-color: rgb(0, 255, 0);
    border-radius: 1.5625rem; 
    box-shadow: 0.0625rem 0.0625rem 0.3125rem #2aff2a; 
}

.container2 h1 {
    color: rgb(78, 172, 78);
    font-size: 6.25rem; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1.25rem; 
    text-align: center;
}

.container2 .search-bar {
    width: 100%;
    max-width: 31.25rem;
    padding: 0.75rem 1.25rem;
    border: 0;
    border-bottom: 0.0625rem solid rgb(0, 255, 0); 
    box-shadow: 0 0 0.625rem rgba(0, 255, 0, 0.6); 
    font-size: 1.5625rem; 
    outline: none;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    color: white;
}

.container2 .search-bar::placeholder {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgba(255,255,255,0.5);
    opacity: 0.8;
}

.container2 .search-bar:focus {
    border-radius: 1.5625rem; 
    border-bottom: 0.0625rem solid black; 
}

@media screen and (max-width: 480px) {

    .container1 h1 {
        font-size: 3.125rem; 
        color: white;
    }

    .container2 .search-bar {
        margin: 6.25rem; 
        font-size: 1.25rem; 
        padding: 0.625rem 0.9375rem; 
        max-width: 18.75rem; 
    }
}
