::-webkit-scrollbar{
    display: none;
}
body{
    background-color: black;
    background-size: cover;
    background-position: center;

}
.container_glass{
    width: 700px;
    height: 500px;
    margin: 190px auto;
}
.container_glass{
    background:linear-gradient(rgb(255,255,255,0.1),rgb(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 1px solid rgb(255,255,255,0.1);
}
form{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
form>.LOGIN_HEAD{
    font-family: "monster";
    font-size: 40px;
    color:rgba(255,255,255,1);
}
form>.username{
    display:flex;
    color: white;
    width:390px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin:20px 0;
}
form>.username>#Username{
    font-size:20px;    
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(25, 118, 112, 0.2);
    background:transparent;
    border-radius: 20px;
    padding: 0px 20px;
    color: white;
}
form>.username>#Username::placeholder{
    color: white;
    opacity: 60%;
}
form>.Password{  
    display:flex;
    color: white;
    width:390px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin:10px;
}

form>.confirm_Password{  
    display:flex;
    color: white;
    width:390px;
    height: 45px;
    align-items: center;
    justify-content: center;
    margin:10px;
}

form>.Password>#Password{
    font-size:16px;    
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(25, 118, 112, 0.2);
    background:transparent;
    border-radius: 20px;
    padding: 0px 20px;
    color: white;
}
form>.confirm_Password>#Password1{
    font-size:16px;    
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(25, 118, 112, 0.2);
    background:transparent;
    border-radius: 20px;
    padding: 0px 20px;
    color: white;
}
form>.Password>#Password::placeholder{
    color: white;
    opacity: 60%;
}
form>.confirm_Password>#Password1::placeholder{
    color: white;
    opacity: 60%;
}
form>.check_area{
    display: flex;
    gap: 40px;
    justify-content:center;
    align-items: center;
}
form>.check_area>.forget_password>a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
form>.username>i{
    position: relative;
    right: 20px;
    transform: translate(-50%);
}
form>.Password>i{
    position: relative;
    right: 20px;
    transform: translate(-50%);
}
form>.confirm_Password>i{
    position: relative;
    right: 20px;
    transform: translate(-50%);
}
form>.submit{
    text-align: center;
    margin-top: 30px;
    width: 300px;
    height: 40px;
}
form>.submit a>button{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border:1px ;
    border-radius: 20px;
    background-color:rgb(0, 255, 255,1);
    transition: 0.2s ease-in-out;
    font-size: 20px;
}
form>.submit a>button:hover{
    box-shadow: 0px 1px 1px white;
}
form>.already_exist>p{
    color: white;
    font-size: 20px;
}
form>.already_exist>p>a{
    font-size: 18px;
    text-decoration: none;
    color: rgba(0,255,255,0.7);
    transition:0.2s ease-in-out;
}
form>.already_exist>p>a:hover{
    color:rgba(0,255,255,1);
}